﻿html, body
{
   background-color:white;
   height: 100%;
   margin: 0px;
}

.contExpand{
    min-height: 100%;
}
/*Header Footer*/

.header{
    height:100px;
    background-color:#337ab7;
}

.footer{
    text-align:center;
    background-color:#337ab7;
    padding-top:65px;
    padding-bottom:65px;
    color:white;
}
/*------------LOG IN------------------*/

#loginForm{
    margin:auto;
    width:500px;
    margin-top:20px;
}

#LoginTitle{
    text-align:center;
    padding-bottom:40px;
    padding-top:100px;
}

#LoginTitle span{
    font-family:Calibri;
    font-size:60px;
    font-weight:100;
}

#btnLogin{
    width:115px;
}


/* User log in page*/

#contWrapper{

    margin-left:40px;
    margin-right:50px;
    margin-top:30px;
    margin-bottom:30px;

}

#currUserText{
    margin-bottom:20px;
}

#currUserText{
    font-family:Calibri;
    font-size:18px;
}

#welcome{
    font-family:Forte;
    font-size:18px;
}
/*-------Menu bar---------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.sidebar-nav li a:hover {
    background-color: #3b87c8;
    color: white;
    list-style-type: none;
}

.sidebar-nav .active {
    background-color: #3b87c8;
    color: white;
}

/*Edit form      */

#editForm{
    margin-left:40px;
    margin-right:40px;
}

#formFields{
    margin-left:150px;
}

#formFields input[type="text"] {
    width: 500px;
}

.submenu{

    display:none;
}

.reporthover:hover ul{
    display:block;
}

.subTextmenu{
    padding-left:50px;
}
