// out: ../css/style.css, compress: true, strictMath: true

.ui.header{
    padding-top: 1em;
}

.pusher{
    background: #fff!important;
    min-height: 100vh!important;
    padding-top: 41px;
    .container{
        padding: 1em;
    }
}

.pushable{
    height: auto!important;
    min-height: 100vh!important;

}

.ui.sidebar{
    padding-top: 41px;
}
.responsive-table{
    width: 100%;
    overflow-x: auto;
}
